<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Song-service</title>
</head>

<body>

<div th:switch="${songs}">
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td>
                    <figure>
                        <figcaption th:text="${song.name}">No name</figcaption>
                        <audio controls preload="metadata" th:src="@{/song-service/songs/{id}(id=${song.id})}"
                               type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </figure>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>