<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Song-service</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h2>Hello, [[${username}]]!</h2>

<div>
    <p>
        <a href="/login">login</a>
        <a href="/logout">logout</a>
    </p>
</div>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <!--    <input type="text" name="extraField"/><br/><br/>-->
    <!--    <input type="file" name="files"/><br/><br/>-->
    <!--    <input type="file" name="files"/><br/><br/>-->
    <input type="file" name="data"/><br/><br/>
    <input type="submit" value="Upload" id="btnUpload"/>
    <input type="submit" value="Upload zip" id="btnUploadZip">
</form>

<h2>Ajax Post Result</h2>
<pre>
    <span id="result"></span>
</pre>

<div th:switch="${songs}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div th:case="*">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Play</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="song : ${songs}">
                        <td th:text="${song.title}"></td>
                        <td><a th:href="@{/song-service/songs/download/{id}(id=${song.id})}" class="btn btn-primary" id="btnPlay"><i class="fas fa-user-edit ml-2"></i>Play</a></td>
                        <td><a th:href="@{/song-service/songs/download/{id}(id=${song.id})}" class="btn btn-primary" id="btnDownload"><i class="fas fa-user-edit ml-2"></i>Download</a></td>
                        <td><a th:href="@{/song-service/songs/delete/{id}(id=${song.id})}" class="btn btn-primary" id="btnDelete"><i class="fas fa-user-times ml-2"></i>Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h2>Ajax Stream Result</h2>
<pre>
    <span id="stream_result"></span>
</pre>

<h2>Ajax Download Result</h2>
<pre>
    <span id="download_result"></span>
</pre>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<!--<a th:href="@{/song-service/upload}">Upload</a>-->
</body>
</html>